{% extends "base.html" %}


{% block title %}

Економічні новини

{% endblock %}


{% block body %}

<header>
    <h1>Економічні новини</h1>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/politics">Політика</a></li>
            <li><a href="/economy">Економіка</a></li>
            <li><a href="/sport">Спорт</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="news">
        <article>
            <img src="static/EU.jpg" alt="Зображення новини">
                <h2>ЄС пом’якшує правила щодо штучного інтелекту для залучення інвестицій</h2></p>
                    <p>Європейський Союз змінює свій регуляторний підхід до технологій, щоб залучити більше інвестицій у сферу штучного інтелекту, повідомляє Financial Times.

                Хенна Вірккунен, виконавча віцепрезидентка Європейської комісії з питань цифрової політики, наголосила, що мета ЄС – підтримувати компанії в дотриманні регуляцій щодо ШІ без створення зайвих бюрократичних вимог. “Ми хочемо забезпечити, щоб на наші компанії не накладали додаткових зобов’язань щодо звітності,” повідомила вона.
                
                У рамках цього спрощення ЄС оголосив про відкликання запланованої директиви щодо відповідальності за ШІ. Крім того, новий кодекс практики щодо ШІ, який очікується у квітні, спростить вимоги до звітності, обмеживши їх до вже наявних правил у межах Акта про ШІ. Цей Акт, ухвалений раніше цього року, класифікує технології ШІ за трьома рівнями ризику, з більш суворими вимогами для високоризикових застосувань, таких як охорона здоров’я чи громадський транспорт.
                
                Високопродуктивні моделі ШІ, такі як GPT-4 від OpenAI та Gemini від Google, підпадають під додаткові зобов’язання щодо прозорості, особливо у питаннях тренування моделей. Однак, технологічні гіганти, зокрема Google і Meta, висловлюють занепокоєння щодо регуляційної рамки. На початку місяця провідний лобіст Meta Джоел Каплан попередив у Брюсселі, що новий кодекс може встановити “нездійсненні та технічно складні вимоги.”
                
                Зміни у регуляціях ЄС відбуваються на тлі загострення напруженості з США. Президент Дональд Трамп критикував штрафи ЄС, накладені на американські технологічні компанії, а його адміністрація назвала регуляції ЄС занадто обмежувальними. Виступаючи на саміті ШІ в Парижі цього тижня, віцепрезидент США Джей Ді Венс засудив “обтяжливі міжнародні” правила, спрямовані проти техногігантів.
                
                Однак Вірккунен відкинула твердження, що зміни в регуляціях ЄС є відповіддю на тиск США. “Це питання нашого власного прагнення підвищити конкурентоспроможність,” зазначила вона. “Ми не залежимо від США.”
                Хоча ЄС прагне скоротити бюрократичні вимоги, Вірккунен наголосила, що Союз залишатиметься твердим у забезпеченні виконання правил, які регулюють діяльність онлайн-платформ. Вона підкреслила, що правила ЄС ефективно створюють рівні умови та забезпечують дотримання з боку глобальних технологічних компаній, оскільки Європа є одним із найбільших ринків для американських корпорацій.</p>
        </article>
        <br>
        <br>
        <article>
            <img src="static/pomidorchiki.jpg" alt="Зображення новини">
                <h2>В Україні почали знижуватися ціни на турецькі помідори</h2></p>
                    <p>В Україні цього тижня почали знижуватися ціни на імпортні помідори виробництва Туреччини через слабку зацікавленість гуртових компаній та роздрібних мереж у закупівлі цієї продукції.

                Про це повідомляють аналітики галузевого видання EastFruit.
                
                Зазначається, що 14 лютого українські імпортери пропонують турецький томат по 75-90 грн/кг ($1,79-2,15/кг), залежно від якості та обсягів партій, що в середньому на 14% дешевше, ніж наприкінці минулого тижня.
                
                Водночас пропозиція імпортної продукції є досить об’ємною, тоді як попит на неї дуже стриманий. У результаті на складах компаній накопичуються значні обсяги нереалізованої продукції, через що продавці готові поступатися ціною.
                
                Зазначається, що протягом тижня постачання томату з Туреччини продовжували збільшуватися, внаслідок чого пропозиція на ринку залишалася надмірною.
                
                Через низькі темпи збуту більшість гуртових компаній та роздрібних мереж скоротили обсяги закупівель томатів і набували нових партій у міру реалізації наявних запасів.
                
                Водночас ціни на імпортні помідори в Україні наразі все ще на 10% вищі, ніж в аналогічний період минулого року.
                
                За словами ключових гравців ринку, якщо темпи збуту в сегменті томату не прискоряться найближчим часом, зниження цін на продукт може тривати до кінця лютого 2025 року.
                
                Нагадаємо:
                
                У січні тепличні томати на ринку України гуртом пропонувалися до продажу по 85-105 грн/кг ($2,01-2,48/кг), що в середньому на 10% дорожче, ніж наприкінці минулого тижня.</p>

        </article>
        <br>
        <br>
        <article>
            <img src="static/inflation.jpg" alt="Зображення новини">
                <h2>Місячна інфляція в Аргентині впала до мінімуму за 4 роки</h2>
                    <p>Місячна інфляція в Аргентині у січні знизилася до 2,2%, що є найнижчим рівнем з середини 2020 року.

                        Про це повідомляє Reuters.
                
                        Річна інфляція також сповільнилася – у січні вона склала 84,5% проти 117,8% у грудні. Такий показник відповідає очікуванням аналітиків.
                
                        Зазначається, що нові дані підтверджують тенденцію до сповільнення цінового зростання після рекордного стрибка у 2023 році.
                
                        Нагадаємо:
                
                        Аргентина офіційно вийшла з глибокої рецесії у третьому кварталі 2024 року, що стало важливим етапом у зусиллях президента-лібертаріанця Хав’єра Мілея з подолання тривалої економічної кризи.
                
                        Аргентина запровадить зміни до антидемпінгової системи країни з метою сприяння більшій конкуренції та зниженню цін, заявив у середу в соціальних мережах міністр економіки Луїс Капуто.</p>
        </article>
    </section>
</main>
{% endblock %}