{% extends "base.html" %}


{% block title %}

Політичні новини

{% endblock %}


{% block body %}
<header>
    <h1>Політичні новини</h1>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/politics">Політика</a></li>
            <li><a href="/economy">Економіка</a></li>
            <li><a href="/sport">Спорт</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="news">
        <article>
            <img src="static/Zelenskiy.jpg" alt="Зображення новини">
                <h2>❗️Якщо зараз буде мир, але без гарантій безпеки, рф знову на нас нападе</h2></p><br>
                    <p><strong>Інші заяви президента:</strong>

                        <br>▪️У мене буде візит до Саудівської Аравії, але там не буде зустрічі з росією чи Америкою.
                        <br>▪️РФ перекине в Білорусь угрупування у 150 тисяч солдатів, вони можуть піти у наступ на Європу, чи Балтію.
                        <br>▪️Американці вважають, що конституційно зафіксований шлях України до НАТО є причиною війни з рф. 
                        <br>▪️Я вважаю, що вступ України до НАТО — це найдешевша гарантія безпеки. 
                        <br>▪️Якщо ми не в НАТО — то Україна має мати армію у півтора мільйони солдатів з сучасною зброєю. 
                        <br>▪️Ми не визнаємо окупацію наших земель.</p>
        </article>
        <br>
        <br>
        <article>
            <img src="static/{{ pic }}" alt="Зображення новини">
                <h2>Поки Україна не в НАТО, армія має налічувати 1,5 мільйона бійців, – Зеленський</h2>
                    <p>Президент Володимир Зеленський заявив, що для ефективного захисту від Росії Сили оборони Україні повинна налічувати 1,5 мільйона бійців.

                        Про це він розповів під час прес-конференції на Мюнхенській конференції з безпеки. 
        
                        Зеленський уточнив, що такі цифри узгоджені з військовими, і вони обґрунтовані кількістю бойових бригад російської армії.<br>
        
                        “Я вам просто говорю цифри, які ми розуміємо з усіма військовими. Тобто це буде армія у 1,5 мільйони. Півтора мільйони! У них (росіян) 220, а в нас 110 на сьогодні бойових бригад. Тобто ну, значить нам потрібно 220”, – сказав Зеленський.
        
                        Він також зазначив, що вступ України до НАТО був би набагато економічно вигіднішим варіантом гарантій безпеки. Однак, якщо Україна залишатиметься поза блоком або на шляху до його вступу, армія повинна бути здатною забезпечити захист держави самостійно.
        
                        Річний безпековий бюджет України Зеленський оцінив в 40 мільярдів доларів на рік, у разі ж збільшення армії до 1,5 мільйона то фінансування на це має бути біля 60 мільярдів.</p>


        </article>
        <br>
        <br>
        <article>
            <img src="static/Zelenskiy_2.jpg" alt="Зображення новини">
                <h2>Зеленський заявив, що США ніколи не прагнули бачити Україну в НАТО</h2>
                    <p>Президент України Володимир Зеленський заявив, що Сполучені Штати Америки ніколи не прагнули бачити Україну членом НАТО.<br>

                        Про це він повідомив під час виступу на Мюнхенській безпековій конференції.
                        За його словами, Вашингтон жодного разу не висловлював чіткої підтримки вступу Києва до Північноатлантичного альянсу.<br>
                        - Якщо бути відвертим, США ніколи нас не бачили в НАТО, вони ніколи не хотіли нас в НАТО, це правда. На рівні лідера, на рівні президента, ніколи не чув під час розмов, що ми будемо в НАТО, ніколи, - сказав Президент.<br>
                        Він підкреслив, що це питання не стосується конкретно Дональда Трампа, а є наслідком загальної політичної лінії США, яка передбачає, що Україна не має входити до НАТО.

                        Разом із тим Зеленський наголосив, що вступ України до Альянсу відповідає спільним інтересам, адже українська армія є потужною та боєздатною
                    </p>
    </section>
</main>
<footer>
    <p>2025 Новини України</p>
</footer>
{% endblock %}