{% extends "base.html" %}


{% block title %}

Спортивні новини

{% endblock %}


{% block body %}

<header>
    <h1>Спортивні новини</h1>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/politics">Політика</a></li>
            <li><a href="/economy">Економіка</a></li>
            <li><a href="/sport">Спорт</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="news">
        <article>
            <img src="static/Usyk.jpg" alt="Зображення новини">
            <h2>Ще два поєдинки: Усик несподівано заговорив про завершення кар’єри</h2>
            <p>Український чемпіон Олександр Усик зізнався, скільки боїв планує провести перед тим, як вирішить завершити кар’єру.

                Як пише SkySports, у його планах провести ще два поєдинки.
                
                Усик про плани завершити кар’єру
                Український боксер заявив, що проведе лише два поєдинки перед відходом на пенсію. Крім того, Олександр Усик розповів, що буде битись з переможцем бою Дюбуа – Паркер.
                
                <br>– Я битимуся з тим, хто переможе, Джозефом Паркером, Даніелем Дюбуа, без проблем. Я думаю, мені залишилося в боксі півтора-два роки. Я почуваюся чудово. Відчуваю, що мені потрібно підготуватися до двох боїв, не більше. Всього до двох, – підсумував Усик.
                
                Нагадаємо, що у грудні 2024 року Олександр Усик переміг у реванші Тайсона Ф’юрі. Після бою Даніель Дюбуа піднявся на ринг та викликав Усика на поєдинок. Український спортсмен прийняв його.
                
                Доля майбутнього реваншу Усик – Дюбуа вирішиться у бою Даніеля з Джозефом Паркером 22 лютого в аравійському Ер-Ріяді.</p>
        </article>


        <article>
            <img src="static/games.jpg" alt="Зображення новини">
                <h2>На Іграх нескорених 2025 Україна здобула 16 медалей у зимових видах спорту</h2>
                    <p>На Іграх нескорених 2025, які проходять в Канаді з 8 до 16 лютого, Україна здобула вже 16 медалей у зимових видах спорту. Україна здобула медалі у всіх заявлених зимових видах спорту на Іграх нескорених, в яких беруть участь 35 українських захисників.

                    Зокрема, у біатлоні та лижних перегонах – по п’ять, у гірськолижному спорті – три, у сноубордингу – дві та одна у скелетоні.
        
                    Особливістю цьогорічних змагань є те, що додалися зимові види спорту: гірські лижі, сноуборд, біатлон, бігові лижі, скелетон та керлінг на кріслах колісних.
        
                    Загалом на рахунку українців сім золотих, п’ять  срібних та п’ять бронзових медалей. <strong><br>Медалісти України на Іграх нескорених:</strong><br>
                    <strong>Біатлон:</strong> Олег Омельчук – золото (клас – IBI4 – Open), Руслан Сергійчук – золото (IBI3 – Visually Impaired), Іван Лавренюк – срібло (IBI3 – Visually Impaired), Олександр Андрієнко – бронза (IBI1 – Sit Ski), Артур Милін – бронза (IBI2 – Standing Ski).<br>
                    <strong>Лижні перегони:</strong> Анатолій Бирко – золото (INO4 – Open), Володимир Марченко – золото (INO2 – Standing Ski), Ярослав Шаркий – срібло (INO2 – Standing Ski), Віктор Дикий – срібло (INO1 – Sit Ski), Валерій Одайник – бронза (INO2 – Standing Ski).<br>
                    <strong>Гірськолижний спорт:</strong> Сергій Гордієвич – золото (клас – IAS1 – Sit Ski), Олексій Горб – срібло (IAS1 – Sit Ski), Арсен Рябошапко – срібло (IAS2 – Standing Ski).<br>
                    <strong>Сноубординг:</strong> Олександр Андрощук – золото (ISB1-2-3 – Standing), Ігор Олійник – золото (ISB1-2-3 – Standing).<br>
                    <strong>Скелетон:</strong> Ілля Гайдук – бронза (клас ISK3).</p>
        </article>
        <br>
        <br>
        <article>
            <img src="static/stadium.jpg" alt="Зображення новини">
                <h2>Карпати мають плани щодо реконструкції легендарного стадіону:</h2>
                    <p>-Ми не плануємо міняти арену, це по-перше. По-друге, масштабні зміни на стадіоні можливі тільки після закінчення війни. Не думаю, що буде проблемою домовитися з містом, якщо ми захочемо інвестувати кошти. Це ж комунальний об'єкт, і якщо ми йому зробимо краще – буде краще цьому місту. Ми знову повертаємося до наших цінностей і розуміємо, що хочемо сучасного управління клубом. Але ми дуже чітко розуміємо, тримаємо в голові, що цей клуб, можливо, відносно молодий як юрособа, але за нами дуже великий пласт історії. Тому стадіон «Україна» – це частина культури й історії. Він може бути не дуже комфортним порівняно з іншими стадіонами – я з цим згоден. Треба максимально поліпшити сервіс на цьому стадіоні, і це буде нашим шляхом. Але клуб неодмінно збирається реконструювати стадіон.</p>

        </article>
    </section>
</main>
{% endblock %}